<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <sec:authorize access="hasRole('ROLE_ADMIN')">
            <p>로그인 하고들어오세요. <a th:href="@{/product/productList}">Login</a> 
            <p>아이디 만들기 <a th:href="@{/create}">Create</a> 
        </sec:authorize>
        <h1>Hello world!</h1>
    </body>
</html>