<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="headerFragment">
      <div class="ui stackable menu">
        <div class="item">
        
        </div>
        <a class="item" onclick="openSidebar()">
          <span class="openSidebar">openSidebar</span>
        </a>
        <a class="item">Testimo</a>
        <a class="item">Testimo</a>
        <a class="item">Testimo</a>
        <a th:href="@{product/productList}" class="item" style="color: red;">productList</a>
        <a th:href="@{user/logout}" class="item" style="color: red;">Logout</a>
        
        <a th:href="@{/user/form}" class="item" style="color: red;">Sign-up</a>
        
     
      </div>
    </header>
</html>