<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="headerFragment">
      <div class="ui stackable menu">
        <div class="item">
          <!-- <img class="" src="/images/logo.png"> -->
        </div>
        <a class="item" onclick="openSidebar()">
          <span class="openSidebar">사이드바</span>
        </a>
        <a class="item">Features</a>
        <a class="item">Testimonials</a>
        <a class="item">Sign-in</a>
      </div>
    </header>
</html>